{% extends 'base.html' %}


{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header bg-dark text-white text-center">
                        <h2>Criar viagem</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="{{ url_for('criar_viagem') }}" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                        <div class="mb-3">
                            {{ form.destino.label(class="form-label") }}
                            {{ form.destino(class="form-control") }}
                        </div>
                        <div class="mb-3">
                            {{ form.valor_total.label(class="form-label") }}
                            {{ form.valor_total(class="form-control") }}
                        </div>
                        {{ form.submit_viagem(class="btn btn-primary") }}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}