
<!-- Navbar com botão hambúrguer -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#menuLateral">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">MyTrip</a>
  </div>
</nav>

<!-- Offcanvas lateral -->
<div class="offcanvas offcanvas-start bg-dark text-white" tabindex="-1" id="menuLateral">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title">Menu</h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      {% if current_user.is_authenticated %}
      <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('criar_viagem') }}">Criar Viagem</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('perfil') }}">Meu Perfil</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('sair') }}">Sair</a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('home') }}">Home</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('acesso') }}">Login</a></li>
      <li class="nav-item"><a class="nav-link text-white" href="{{ url_for('acesso') }}">Criar Conta</a></li>
      {% endif %}
    </ul>
  </div>
</div>
