# Ambiente virtual
venv/

# Arquivo de variáveis de ambiente (senhas, chaves etc.)
.env

# Arquivos de banco de dados
instance/

# Caches e temporários
__pycache__/
trip/__pycache__/

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Uploads locais
trip/static/fotos_perfil/
