# Ambiente virtual
venv/

# Arquivo de variáveis de ambiente (senhas, chaves etc.)
.env

# Arquivos de banco de dados
instance/

# Caches e temporários
__pycache__/
backend/trip/__pycache__/

# Arquivos de IDE
.vscode/
.idea/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Uploads locais
frontend/static/fotos_perfil/

.pytest_cache

serviceAccountKey.json

firebase-key.json
